<!-- <table>
  <tr *ngFor="let fixture of fixtures | async">
    <td>
      <img
        [src]="fixture.teams.home.logo"
        [alt]="fixture.teams.home.name"
        width="15"
        height="15"
      />
    </td>
    <td>
      {{ fixture.teams.home.name }}
    </td>
    <td>
      {{ fixture.goals.home }}
    </td>
    <td>-</td>
    <td>
      {{ fixture.goals.away }}
    </td>
    <td>{{ fixture.teams.away.name }}</td>
    <td>
      <img
        [src]="fixture.teams.away.logo"
        [alt]="fixture.teams.away.name"
        width="15"
        height="15"
      />
    </td>
  </tr>
</table>

<button (click)="irPaginaAnterior()">Back</button> -->

<table
  mat-table
  [dataSource]="fixtures | async"
  class="mat-elevation-z8"
  *ngIf="fixtures | async; else spinner"
>
  <ng-container matColumnDef="homeLogo">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let game">
      <img
        [src]="game.teams.home.logo"
        [alt]="game.teams.home.name"
        width="15"
        height="15"
      />
    </td>
  </ng-container>
  <ng-container matColumnDef="homeName">
    <th mat-header-cell *matHeaderCellDef>Local</th>
    <td mat-cell *matCellDef="let game">
      {{ game.teams.home.name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="homeGoals">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let game" class="base-width">
      {{ game.goals.home }}
    </td>
  </ng-container>
  <ng-container matColumnDef="-">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let game" class="base-width">-</td>
  </ng-container>
  <ng-container matColumnDef="awayGoals">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let game" class="base-width">
      {{ game.goals.away }}
    </td>
  </ng-container>
  <ng-container matColumnDef="awayName">
    <th mat-header-cell *matHeaderCellDef>Visitor</th>
    <td mat-cell *matCellDef="let game">{{ game.teams.away.name }}</td>
  </ng-container>
  <ng-container matColumnDef="awayLogo">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let game">
      <img
        [src]="game.teams.away.logo"
        [alt]="game.teams.away.name"
        width="15"
        height="15"
      />
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnas; sticky: true"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnas"></tr>
</table>

<button mat-raised-button color="primary" (click)="irPaginaAnterior()">
  Back
</button>

<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>
