<!-- <table>
  <tr *ngFor="let fixture of fixtures | async">
    <td>
      <img
        [src]="fixture.teams.home.logo"
        [alt]="fixture.teams.home.name"
        width="15"
        height="15"
      />
    </td>
    <td>
      {{ fixture.teams.home.name }}
    </td>
    <td>
      {{ fixture.goals.home }}
    </td>
    <td>-</td>
    <td>
      {{ fixture.goals.away }}
    </td>
    <td>{{ fixture.teams.away.name }}</td>
    <td>
      <img
        [src]="fixture.teams.away.logo"
        [alt]="fixture.teams.away.name"
        width="15"
        height="15"
      />
    </td>
  </tr>
</table>

<button (click)="irPaginaAnterior()">Back</button> -->

<table
  mat-table
  [dataSource]="fixtures | async"
  class="mat-elevation-z8 w-100 table table-bordered d-flex flex-column"
  *ngIf="fixtures | async; else spinner"
>
  <ng-container matColumnDef="homeLogo">
    <th class="col" mat-header-cell *matHeaderCellDef></th>
    <td class="col" mat-cell *matCellDef="let game">
      <img
        [src]="game.teams.home.logo"
        [alt]="game.teams.home.name"
        width="15"
        height="15"
      />
    </td>
  </ng-container>
  <ng-container matColumnDef="homeName">
    <th class="col-3" mat-header-cell *matHeaderCellDef>Local</th>
    <td class="col-3" mat-cell *matCellDef="let game">
      <span class="text-truncate">
        {{ game.teams.home.name }}
      </span>
    </td>
  </ng-container>
  <ng-container matColumnDef="homeGoals">
    <th class="col" mat-header-cell *matHeaderCellDef></th>
    <td class="col" mat-cell *matCellDef="let game">
      {{ game.goals.home }}
    </td>
  </ng-container>
  <ng-container matColumnDef="-">
    <th class="col" mat-header-cell *matHeaderCellDef></th>
    <td class="col" mat-cell *matCellDef="let game">-</td>
  </ng-container>
  <ng-container matColumnDef="awayGoals">
    <th class="col" mat-header-cell *matHeaderCellDef></th>
    <td class="col" mat-cell *matCellDef="let game">
      {{ game.goals.away }}
    </td>
  </ng-container>
  <ng-container matColumnDef="awayName">
    <th class="col-3" mat-header-cell *matHeaderCellDef>Visitor</th>
    <td class="col-3" mat-cell *matCellDef="let game">
      <span class="text-truncate">
        {{ game.teams.away.name }}
      </span>
    </td>
  </ng-container>
  <ng-container matColumnDef="awayLogo">
    <th class="col" mat-header-cell *matHeaderCellDef></th>
    <td class="col" mat-cell *matCellDef="let game">
      <img
        [src]="game.teams.away.logo"
        [alt]="game.teams.away.name"
        width="15"
        height="15"
      />
    </td>
  </ng-container>

  <tr
    class="d-flex"
    mat-header-row
    *matHeaderRowDef="columnas; sticky: true"
  ></tr>
  <tr class="d-flex" mat-row *matRowDef="let myRowData; columns: columnas"></tr>
</table>

<button mat-raised-button color="primary" (click)="irPaginaAnterior()">
  Back
</button>

<ng-template #spinner>
  <div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
