<h1>{{ pais }}</h1>
<table *ngIf="equipos; else sinEquipos">
  <tr>
    <th>Name</th>
    <th>Games</th>
    <th>W</th>
    <th>L</th>
    <th>D</th>
    <th>Goal Difference</th>
    <th>Points</th>
  </tr>

  <tr *ngFor="let equipo of equipos | async">
    <td>
      <a [routerLink]="['/equipo', equipo.team.id]">
        {{ equipo.team.name }}
      </a>
    </td>
    <td>{{ equipo.all.played }}</td>
    <td>{{ equipo.all.win }}</td>
    <td>{{ equipo.all.lose }}</td>
    <td>{{ equipo.all.draw }}</td>
    <td>{{ equipo.goalsDiff }}</td>
    <td>{{ equipo.points }}</td>
  </tr>
</table>

<ng-template #sinEquipos>
  <h1>Lo sentimos, no hay equipos por ahora...</h1>
</ng-template>
